<style>
  table, th, td {
    border: 0.5px solid black;
  }
</style>
<br>
<div style="margin: 60px">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label style="width: 200px" for="targyKod">Tantárgy kódja:</label>
    <input type="text" formControlName="targyKod" targyKod="targyKod" id="targyKod"><br>

    <label style="width: 200px" for="nev">Tantárgy neve:</label>
    <input type="text" formControlName="nev" nev="nev" id="nev"><br>

    <button type="submit" class="btn btn-success">Tantárgy hozzáadása</button>
  </form>
  <br>

  <h1>Tantárgy listája:</h1><br>
  <div *ngFor="let tantargy of tantargyak$ | async">
    <table style="width:50%">
      <tr>
        <th>Tantárgy kódja</th>
        <th>Tantárgy neve</th>
        <th></th>
      </tr>
      <tr>
        <td>{{ tantargy.targyKod }}</td>
        <td>{{ tantargy.nev }}</td>
        <td>
          <button class="btn btn-danger" (click)="delTantargy(tantargy.targyKod)">Tantárgy törlése</button>
        </td>
      </tr>
    </table>
  </div>

</div>
