<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Neptun 2.0</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/hallgato">Hallgatók</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/kurzus">Kurzusok</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/oktato">Oktatók</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/tantargy">Tantárgyak</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
